<!DOCTYPE HTML>

<html>

<head>
	<style>

</style>
	<title>Horizons</title>


	<link rel="stylesheet" href="../static/css/style.css" />


</head>

<body class="homepage">

	<!-- Header -->
	<div id="header">
		<div class="container">

			<!-- Logo -->
			<h1><a href="#" id="logo">Horizon</a></h1>


			<!-- Banner -->
			<div id="banner">
				<div class="container">
					<section>
						<header class="major">
							<h2>Welcome to Horizon!</h2>
							<span class="byline">The places to visit Nepal
							</span>
						</header>
						<a href="/nepal/" class="button">Explore</a>
						<a href="/contact/" class="button-top alt">Get in touch</a>
						<a href="/signin/" class="button">Admin Login</a>
					</section>
				</div>
			</div>

		</div>
	</div>


</body>

</html>